<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Elliot's SQL Server -->
		<add name="SQL"
			 connectionString="Server=195.62.221.62;Database=Ableworld;User Id=Elliot-Service;Password=Explosive-Unhappy-Rabbit-3;Encrypt=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
		<!-- Codestone Hana Server -->
		<add name="Hana"
			 connectionString="Server=10.100.230.6:30015;UserID=ELLIOTRENNER;Password=Drop-Local-Poet-Knife-5;"
			 providerName="Sap.Data.Hana" />
	</connectionStrings>
	<appSettings>
		<!-- Invoice Location -->
		<add key="InvoiceFolderPath" value="\\able-fs03\IT Software\Credit Card\Invoices" />
	</appSettings>
</configuration>